<div class="subscribe">
	<!-- Icons MIT © Phosphor Icons -->
	{{ with .Site.Params.Subscribe.Amazon }}
		<a href="{{ . }}" title="Suivre sur Amazon Music">
			<img src="/img/amazon.svg" alt="Icône Amazon Music" width="48" height="48" />
		</a>
	{{ end }}
	
	{{ with .Site.Params.Subscribe.Apple }}
		<a href="{{ . }}" title="Suivre sur Apple Podcasts">
			<img src="/img/apple.svg" alt="Icône Apple Podcasts" width="48" height="48" />
		</a>
	{{ end }}
	
	{{ with .Site.Params.Subscribe.Deezer }}
		<a href="{{ . }}" title="Suivre sur Deezer">
			<img src="/img/deezer.svg" alt="Icône Deezer" width="48" height="48" />
		</a>
	{{ end }}
	
	{{ with .Site.Params.Subscribe.Spotify }}
		<a href="{{ . }}" title="Suivre sur Spotify">
			<img src="/img/spotify.svg" alt="Icône Spotify" width="48" height="48" />
		</a>
	{{ end }}
</div>