<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "fr" }}">
	<head>
		<meta charset="utf-8">
	
		<title>{{ if not .IsHome }}{{ .Params.Title | markdownify | plainify }} | {{ end }}{{ .Site.Title }}</title>
		
		<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
		{{ template "_internal/opengraph.html" . }}
		{{ template "_internal/schema.html" . }}
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		
		<link rel="stylesheet" href="{{ "/css/style.css" | absURL }}">
		<link rel="shortcut icon" href="{{ "/images/favicon.ico" | absURL }}" type="image/x-icon" />
		
		{{ with .OutputFormats.Get "RSS" }}
			<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
		{{ end }}
	</head>
	
	<body>
		<header id="header">
			{{ if .IsHome }}
				<h1 class="title">{{ .Site.Title }}</h1>
				<div class="deck">{{ .Content }}</div>
			{{ else }}
				<a href="{{ "/" | absURL }}" title="Revenir à la liste des archives de {{ .Site.Title }}">← {{ .Site.Title }}</a>
			{{ end }}
		</header>
		
		<main id="main">
			{{ block "main" . }}{{ end }}
		</main>
		
		<footer id="footer">
			{{ with .Site.Copyright }}
				<div class="copyright">
					{{ . | markdownify }}
				</div>
			{{ end }}
		</footer>
	</body>
</html>
